* {
padding: 0;
margin: 0;
}
html, body {
height: 100%;
}


body{  background-color:#000}
.max-container{  }
.container{ width:900px;  margin:0px auto; position:relative;  height:auto !important; z-index:1;}
.clear{ clear:both; }
.no-border{ border:none !important;}
.no-border-left{ border-left:none !important;}
.no-border-right{ border-right:none !important;}
.no-border-top{ border-top:none !important;}
.no-border-bot{ border-bottom:none !important;}
.no-margin-right{ margin-right:0px !important;}
.no-margin-left{ margin-left:0px !important;}
.no-padding-left{ padding-left:0px !important;}
.no-padding-right{ padding-right:0px !important;}
.no-bg{background:none !important;}
.float-right{ float:right !important;}
.float-left{ float:left !important;}
.bold{ font-weight:bold !important; }
.textInput{ display:block; }
.hide{ display:none !important; }
.updnWatermark{ font-size:12px; color:#292929; left:260px !important; }
/* USING FOR SITE WITHOUT SLIDE IMAGE*/
.no-slideImage{ /*padding-top:120px;*/ top:-18px; }
.odd{ background-color:#eeeeee !important;}
.even{}
.imgFloat-r{ float:right; margin:0 0 10px 10px;}
.imgFloat-l{ float:left; margin:0 10px 10px 0;}

.txtInput_toggle{}

.clear-fix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .clear-fix             { zoom: 1; } /* IE6 */
*:first-child+html .clear-fix { zoom: 1; } /* IE7 */
