@import "function";
@import url(reset.css);
@import url(font.css);
@import url(typo.css);
@import "compass/css3/border-radius";
@import "base";

.container{
//overflow:hidden;
}
/***************** SETTING WIDTH FOR HEADER - CONTENT - FOOTER  ********************/
.header,
.content,
.footer{width:900px; margin:0px auto;  }
/***************** COLOR SETTING ********************/

/***************** HEADING SETTING ********************/

.heading{
	display:block;
	margin-bottom:8px;
	@include bg('imgBorder-1.png',bottom,center);
	h2{
		float:left;
		background-color:#e3e3e3;
		color:#318c6d;
		font-size:16px;
		line-height:16px;
		@include font-1;
		//display:inline;
		padding-right:2px;
		font-weight:bold;
		text-transform:uppercase;
	}
}
.heading-1{
	display:block;
	@include bg('imgBorder-2.png',bottom,center);
	h2{
		float:left;
		background-color:#000;
		color:#FFF;
		font-size:16px;
		line-height:16px;
		@include font-1;
		//display:inline;
		padding-right:2px;
		font-weight:bold;
		text-transform:uppercase;
	}
}
.read-more{
	@include bg('imgArrow-1.png',left,center);
	padding-left:15px;
	color:#318c6d !important;
	&:hover{ text-decoration:underline; color:#007698;}
}

.read-more-2{
	@include bg('imgArrow-1.png',left,center);
	padding-left:15px;
	color:#318c6d !important;
	font-weight:bold;
	&:hover{ text-decoration:underline; color:#007698;}
}
.page-direction{
	h2{ float:left; color:#717171; font-size:12px; }
	a{ color:#717171; font-size:12px; }
	img{ float:left; margin:7px 5px 0 5px;}
}
/***************** HEADER SETTING ********************/
#max-container-header{
	@include bg('background.png',50%,0);
	height:130px;
	position:relative;
	z-index:20;
}
.header{
	display:block;
	position:relative;
	z-index:1;
	.logo{ float:left; display:block;
		width:199px;
		height:62px;
		margin-top:30px;
		a{
			display:block;
			text-indent:-9999px;
			@include bg('imgLogo.png');
			width:199px;
			height:62px;
		}
	}
	.language-bar{
		position:absolute; top:15px; right:0px;
		ul.language-select{ margin:0;  padding:0;
			li{
				float:left; margin-right:5px;
				a{
					display:block; text-indent:-9999px;
					width:23px;
					height:18px;
					@include bt();
					&#lang-en{ background-position:0 -23px; &.active-lang, &:hover{ background-position:0 0;}}
					&#lang-ne{ background-position:-31px -23px; &.active-lang, &:hover{ background-position:-31px 0;}}
					&#lang-fr{ background-position:-63px -23px; &.active-lang, &:hover{ background-position:-63px 0;}}
					&#lang-it{ background-position:-95px -23px; &.active-lang, &:hover{ background-position:-95px 0;}}
					&#lang-ge{ background-position:-127px -23px; &.active-lang, &:hover{ background-position:-127px 0;}}
					&#lang-sw{ background-position:-158px -23px; &.active-lang, &:hover{ background-position:-158px 0;}}
				}
			}
		}
	}
	.navigation-wrapper{
		display:block;
		float:right;
		margin:95px 0 0 0;
		position:relative;
		z-index:100;
		ul.navigation{
			margin:0; padding:0;

			ul.submenu{
				display:none;
				position:absolute;
				z-index:150;
				left:0px;
				top:100%;

				ul.submenu-2{
					display:none;
					position:absolute;
					z-index:160;
					top:0px;
					left:100%;
					& > li{
						display:block;
						min-width:120px;
					}
				}
				& > li{
					display:block;
					min-width:150px;
					&:hover{
						ul.submenu-2{ display:block; }
					}
					a{
						display:block;
						background-color:#e3e3e3;
						color:#404040;
						padding:0 14px;
						line-height:20px;
						border-bottom:1px solid #404040;
					}
				}
			}
			& > li{
				float:left;
				position:relative;
				z-index:101;
				& > a{
					display:block; text-transform:uppercase;
					color:#FFF;
					font-size:13px;
					padding:0 14px;
					&.current-page, &:hover{
						color:#42bc92;
					}
				}
				&:hover{
					ul.submenu{ display:block; }
				}
			}
		}
	}
}
/***************** HOMEPAGE & SLIDER SETTING ********************/
#max-container-slider{
	background-color:#404040;
}
.slider{ width:900px; margin:0 auto; padding-top:5px;}
.welcome-wrapper{
	float:left;
	width:280px;
	h2{
		@include font-1; font-weight:bold;
		@include bg('imgShadow-1.png',bottom,center);
		padding-bottom:22px;
		margin-bottom:10px;
		color:#BBB;
		span{ color:#42bc92; }

	}
	p{ color:#bababa; line-height:17px;}
	a#btnFindUs{
		display:block;
		text-indent:-9999px;
		width:139px;
		height:63px;
		margin-left:65px;
		@include bt(0,-60px);
		&:hover{ background-position:-166px -60px};
	}
}
.slider-wrapper{
	border:1px solid #8c8c8c;
	background-color:#666666;
	width:618px;
	height:309px;
	float:left;
}
#main-slider{
	margin:11px 11px 11px 12px; padding:0;
	@include bg('imgSlideshow-bg.png',0,0,repeat);
	background-color:#666666;
	li{
		display:block;
		width:593px;
		height:289px;
		a{
			display:block; width:593px; height:289px;
			img{ display:block; max-width:593px; max-height:289px;}
		}
	}
}

#max-container-content{ background-color:#e3e3e3;}
.template{ display:block; padding:10px 0 5px 0;}
.tpl-l{ float:left; }
.tpl-r{ float:right; }
.template-wrapper{ display:block; min-height:450px; }
img.imgTemp{ float:left; margin:0 10px 0 0;}
#homepage-wrapper{
	display:block;
	margin:5px 0 5px 0;
	.homepage-col{ width:280px; float:left; }
	#hp-col1{}
	#hp-col2{ margin-left:30px;}
	#hp-col3{ float:right;}
	.hp-col-content{ margin:10px 0 0px 0;}
	.hp-a-link{ display:block; @include bg('imgShadow-3.png',bottom,center); margin-bottom:3px; padding-bottom:7px;}

}
/***************** PRODUCT SLIDESHOW SETTING ********************/
#max-container-footer{
	background-color:#000;
}
.product-slideshow-wrapper{
	margin:0 auto; width:900px;
	padding-top:15px;
	position:relative;
	z-index:1;
	a.product-button{ display:block; text-indent:-9999px; width:21px; height:41px; position:absolute;}
	a#product-prev{
		left:-30px;
		top:70px;
		@include bt(-216px,0); &:hover{ background-position:-297px 0;}}
	a#product-next{
		right:-20px;
		top:70px;
		@include bt(-247px,0); &:hover{ background-position:-328px 0;}}
}
#product-slideshow{
	display:block;
	margin:10px 0 5px 0; padding:0;
	li{
		float:left;
		margin-right:8px;
		width:142px;
		height:115px;
		a{
			display:block;
			img{
				width:138px;
				height:103px;
				border:2px solid #4d4d4d;
			}
		}
	}
}
/***************** FOOTER SETTING ********************/
.footer{ display:block;
	color:#FFF;
	padding:15px 0;
	@include bg('imgFooter-shadow-1.png',top,center);
	p{ float:left; margin:0;}
	a{ float:right; color:#FFF; }
}
/***************** PRODUCT SETTING ********************/

#product-wrapper{
	display:block;
}

.list-product-wrapper{
	.eachRow-product{ display:block; }
}

.eachRow-product{
	display:block;
	margin:12px 0;
	.prd-left{ float:left;
		width:210px;
		img{
			display:block;
			border:1px solid #c7c7c7;
			width:200px;
			height:146px;
		}
	}
	.prd-right{ float:right;
		width:650px;
		.prd-models{ float:left; width:70%;}
		.prd-old-models{ float:left; width:30%;}
	}
	.prd-right-2{
		float:left;
		width:670px;
		margin-left:15px;
		border-bottom:1px solid #c6c6c6;
		height:145px;
		overflow:hidden;
		h2{ font-weight:bold; margin-bottom:5px;}
		p{ line-height:17px;}
	}
	.prd-heading{
		color:#404040;
		background-color:#d9d9d9;
		border:1px solid #c6c6c6;
		height:28px;
		line-height:28px;
		text-align:center;
		text-transform:uppercase;
	}
	ul.list-product{
		margin:0; padding:5px;
		border:1px solid #c6c6c6;
		border-top:none;
		overflow:hidden;
		min-height:108px;
		li{
			float:left;
			margin:2px 0;
			a{ color:#318c6d; &:hover{ color:#103226; }}}
	}
}
/***************** TOOLTIP SETTING ********************/
.product-tool-tip{ display:none;}
.customCompac{
	border:4px solid #9e9e9e !important;
	background-color:#FFF !important;
	width:260px;
	height:105px;
	h2{ font-size:15px; color:#318c6d; line-height:19px;}
}
/***************** PROFILE SETTING ********************/
#profile-wrapper{ display:block; }
.profile-page{
	.profile-left{ float:left; width:280px; min-height:450px;
		img{ @include bg('imgShadow-3.png',bottom,center); padding-bottom:6px;}

	}
	.profile-right{
		min-height:450px;
		float:left; width:600px; margin-left:20px;
		color:#404040;
		h1{ font-weight:bold; font-size:15px; margin:0 0 8px 0px;}
		ul{ list-style:circle; list-style-position:inside; margin-bottom:8px;}
		p{ line-height:18px;}
	}
}
/***************** NEWS SETTING ********************/
#news-page{
	display:block;
}
.news-wrapper{
	display:block;
}
.eachNews{
	margin:15px 0;
	.news-left{ float:left;
		width:280px;
		a{ display:block; @include bg('imgShadow-3.png',bottom,center);  padding-bottom:6px;}
		img{
			border:1px solid #c6c6c6;
			width:275px;
			height:120px;
		}
	}
	.news-right{
		float:left;
		border-bottom:1px solid #d2d2d2;
		width:600px;
		height:127px;
		overflow:hidden;
		margin-left:10px;
		h1{
			font-weight:bold;
			a{
				font-weight:bold;
				font-size:16px;
				display:block;
				margin-bottom:2px;
			}
		}
		h3{
			font-size:11px;
		}
		p{ line-height:17px;}
	}
}
/***************** CONTACT SETTING ********************/
#contact-page{ display:block;}
.contact-wrapper{
	.contact-left{ float:left; width:170px;}
	.contact-right{ float:left; width:695px;
		padding-top:2px;
		@include bg('imgShadow-2.png',left,center);
		padding-left:26px;
		.contact-col-1{ float:left; width:320px; margin-left:20px;
			h2{ font-weight:bold; font-size:15px; margin-bottom:10px; line-height:18px;}
		}
		.contact-col-2{ float:left; width:340px; margin-left:10px;
			h2{ font-weight:bold; font-size:15px; margin-bottom:10px; line-height:18px;}
			.tempContact{ margin-top:30px;}
		}
		textarea{
			border:1px solid #c6c6c6; resize:none; overflow:auto;
			width:650px; height:130px;
			margin-left:20px;
			font-size:12px;
			padding:8px;
			font-family:Arial, Helvetica, sans-serif;
			margin-bottom:15px;
		 }
		label{ display:block; margin-left:20px; margin-bottom:5px;}
	}
}
.contact-left{
	h2{ font-weight:bold; font-size:15px; margin-bottom:10px;}
	p{ margin:0 0 10px 0; line-height:18px;}
	p a{ color:#318c6d}
}
.eachInput{
	margin:5px 0;
	input.input-txt{
		float:left; padding:0 5px; background-color:#FFF;
		border:1px solid #c6c6c6;
		height:25px;
		line-height:25px;
		width:255px;
		color:#7a7a7a;
	}
	input.input-chk{ float:left; }
	span{ float:left; margin-left:5px;
		&.red{ color:#d40f0f}
		&.span-input{ margin-top:12px;}
	}
}
.contact-submit{
	border-top:1px solid #d2d2d2;
	margin-left:20px;
	padding-top:15px;
	margin-bottom:5px;
	a#contact-send{
		display:block; text-indent:-9999px;
		float:left;
		margin-right:20px;
		@include bt(0,-139px);
		width:97px;
		height:31px;
		&:hover{ background-position:0 -180px;}
	}
	#contact-reset{
		display:block;
		border:none;
		float:left;
		@include bt(-107px,-139px);
		width:97px;
		text-indent:-9999px;
		height:31px;
		&:hover{ background-position:-107px -180px;}
		cursor:pointer;
	}
}


/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/
/***************** CONTACT SETTING ********************/